<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./styles/styles.css">

</head>
<body>
   
    
    <div class="nav">
        <a class="nav_item" href="/inicio">Inicio</a>
        <a class="nav_item" href="/nosotros">Sobre Nosotros</a>
        <a class="nav_item" href="/contacto">Contacto</a>
        <a class="nav_item" href="/principal">Visitas</a>
    </div>

    <section class="cosas">
        <div class="titulo">
            <h1>Contacto</h1>
        </div>

        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam accusantium rerum iure
            excepturi facilis vitae, dignissimos eos ipsam in vel, nostrum quibusdam illum debitis hic dicta aspernatur,
            amet blanditiis eum?. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, autem culpa enim
            eveniet quaerat id qui inventore hic veniam odit reprehenderit. Quae cum laudantium, veritatis nesciunt hic
            labore provident quod! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam accusantium rerum
            iure excepturi facilis vitae, dignissimos eos ipsam in vel, nostrum quibusdam illum debitis hic dicta
            aspernatur, amet blanditiis eum?. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, autem
            culpa enim eveniet quaerat id qui inventore hic veniam odit reprehenderit. Quae cum laudantium, veritatis
            nesciunt hic labore provident quod!
        </p>
    </section>

    <div class="imagenes">
        <img src="https://naturallivingfamily.com/wp-content/uploads/2016/08/Natural-Tick-Repellant-for-Dogs.png"
            alt="">
        <img src="https://bigworldsmallgirl.com/wp-content/uploads/2019/02/IMG_3533.jpeg"
            alt="">
        <img src="https://i0.wp.com/malenademartini.com/wp-content/uploads/Two-dogs-looking-out-window.jpg?fit=800%2C800&ssl=1"
            alt="">
    </div>
    
</body>
</html>