<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,800&display=swap" rel="stylesheet">
         <link rel="stylesheet" href="./styles/styles.css">


</head>
<body>
     <div class="nav">
        <a class="nav_item" href="/inicio">Inicio</a>
        <a class="nav_item" href="/nosotros">Sobre Nosotros</a>
        <a class="nav_item" href="/contacto">Contacto</a>
        <a class="nav_item" href="/principal">Visitas</a>
    </div>

    <h1>Inicio</h1>


</body>
</html>