<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,800&display=swap" rel="stylesheet">
          <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>

     <div class="nav">
        <p class="nav_item">Inicio</p>
        <p class="nav_item">Sobre Nosotros</p>
        <p class="nav_item">Contacto</p>
    </div>

    <h1>Nosotros</h1>
  
    
</body>
</html>