
body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.nav{
    margin: 0;
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: #3CAEA3;
    font-weight: 800;
    color: white;
    

}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: #F6D55C;
    transition: all 1s ease;
    text-decoration: none;
}
.contenido{
    display: flex;
    justify-content: center;
}
.titulo{
    display: flex;
    justify-content: center;
    color: #F6D55C;
    font-weight: 800;
}
 .tabla{
    background-color: white;
    text-align: center;
    width: 50%;
}

th,td{
border: solid 1px #3CAEA3;
padding: 10px;
}

th{
    color: white;
}

thead{
    background-color: #3CAEA3;
}

.cosas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 70px;
    padding-right: 70px;
}


.imagenes{
    display: flex;
    flex-direction: row;
    width: 1800px;
    align-content: space-around;

    img{
        object-fit: cover;
        width: 20%;
        height: 20%;
        padding: 50px;
    }
}